.calculator-container {
    margin: 50px auto;
    border: 2px solid pink;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.display {
    width: 100%;
    height: 15vh;
    /* border: 4px solid black; */
}

.inner-container {
    display: flex;
    width: 100%;
    height: 40vh;
    /* border: 1px solid blue; */
}

.number-pad {
    /* border: 2px solid orange; */
    width: 22.5vw;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
}

.number-key {
    flex-grow: 1;
    min-width: 75px;
    min-height: 65px;
    border: 1px solid purple;
}

.operator-pad {
    /* border: 3px solid green; */
    width: 7.5vw;
    display: flex;
    flex-direction: column;
}

.operator-key {
    flex-grow: 1;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid orange;
}

.clear-btn {
    flex-grow: 1;
    width: 100%;
}

