.calculator-container {
    border: 5px solid pink;
    border-radius: 5px;
    margin: 50px auto;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.display {
    border-bottom: 4px solid orangered;
    height: 15vh;
    font-size: 4rem;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
}

.inner-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.inner-container > div {
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 5);
    min-height: 60px;
    flex-grow: 1;
    border: 1px solid pink;
    cursor: pointer;
}

.btn-container {
    display: flex;
    border: none;
}

.clear-btn {
    border-radius: 0px;
    border: none;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

